@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

:root {
    /* font-size / */
    --fs-9: 9px;
    --fs-10: 10px;
    --fs-11: 11px;
    --fs-sm: 12px;
    --fs-base: 14px;
    --fs-15: 15px;
    --fs-lg: 16px;
    --fs-xl: 18px;
    --fs-2xl: 20px;
    --fs-3xl: 22px;
    --fs-4xl: 25px;
    --fs-5xl: 36px;
    --fs-6xl: 38px;
    --fs-7xl: 44px;
    --fs-8xl: 31px;
    --fs-9x1: 48px;
    --fs-12x1: 96px;

    /* / color */
    --color-orange: #F06500;
    --color-black: #373737;
    --color-FFF7F4: #FFF7F4;
    --color-7B7B7B: #7B7B7B;
    --color-00ACFF: #070401;
    --color-white: #FFFFFF;
    --color-zblack: #000000;
    --color-171616: #171616;
    --color-BBBABA: #BBBABA;
}


.bg-img {
    background-image: url(../image/bg1.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    background-position: center;
}

.bg-black {
    background-color: var(#070401);
    width: 100%;
    padding: 20px;
}

.color-black {
    background-color: var(--color-zblack);
}

.mt-80 {
    margin-top: 80px;
}

.gap-32 {
    gap: 32px !important;
}

.color-orange {
    color: var(--color-orange);
}

.card-sec {
    max-width: 1320px;
    padding: 24px;
    width: 100%;
    border-image-source: linear-gradient(95.21deg, rgba(255, 255, 255, 0.2) -0.59%, rgba(255, 255, 255, 0.092) 106.99%);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    position: absolute;
    background: linear-gradient(94.88deg, rgba(255, 255, 255, 0.05) 0.97%, rgba(255, 255, 255, 0) 103.14%);
    top: -237px;
    left: 50%;
    transform: translateX(-50%);
}


.cursus {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-7xl);
    font-weight: 600;
    line-height: 61.44px;
    color: var(--color-white);
}

.pt-210 {
    padding-top: 210px;
}

.urna-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--color-white);
    padding-top: 16px;
}

.menulist {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--color-white);
}

.menulist:hover {
    color: var(--color-orange);

}

.connect-btn {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 600;
    line-height: 32.4px;
    color: var(--color-white);
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
    width: 188px;
    height: 46px;
    border-radius: 23.5px;
    border: none;

}

.urna-text-2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 32.4px;
    color: var(--color-BBBABA);
    padding-top: 16px;
}


.connect-btn:hover {
    background: transparent !important;
    border: 2px solid var(--color-orange);
    box-shadow: 0px 0px 44px 5px orange;
    color: var(--color-orange);

}

.logo {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-5xl);
    font-weight: 400;
    line-height: 54px;
    color: var(--color-white);
    cursor: pointer;
    max-width: fit-content;

}

.velit-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 400;
    line-height: 33px;
    color: var(--color-white);
}

.assumsan {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-12x1);
    font-weight: 700;
    line-height: 95.52px;
    color: var(--color-white);
    max-width: 660px;
}

.logo-2 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-5xl);
    font-weight: 700;
    line-height: 54px;
    color: var(--color-orange);
    cursor: pointer;
    max-width: fit-content;
}

.parentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    overflow: hidden;
}

.bg-dark {
    background-color: #1D1A1A;
}

.bg-bblack {
    background-color: #1D1A1A;
}

.how-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-9x1);
    font-weight: 600;
    line-height: 61.44px;
    color: var(--color-white);
}

.pb-100 {
    padding-bottom: 100px;
}

.token-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-9x1);
    font-weight: 600;
    line-height: 61.44px;
    text-align: center;
    color: var(--color-white);
}

.liquid {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 400;
    line-height: 33px;
    color: var(--color-white);

}

.percentage {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    color: var(--color-white);
}

.percentage:hover {
    color: var(--color-orange);
}

.whene {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-base);
    font-weight: 400;
    line-height: 25.2px;
    color: var(--color-white);
    padding-top: 10px;
}

.pr-30 {
    padding-right: 30px;
}

.pt-19 {
    padding-top: 19px;
}

.for {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #B9B9B9;
    padding-top: 16px;
}

.five {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    cursor: pointer;
}

.all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 107px;

}

.gap-23 {
    gap: 23px;
}

.five:hover {
    color: #F06500;
}

.second-part {
    width: 361px;
    height: 361px;
    padding-left: 67px;
    padding-top: 67px;
}

.all-in-one {
    width: 100%;
    border-radius: 10px;
    border: 1px solid#474646;
    margin-top: 22px;
    margin-bottom: 22px;
    background-color: #191818;
    padding-left: 12px;
}

.all-cc {
    width: 50px;
    height: 50px;
    top: 493px;
    left: 884px;
    border-radius: 4px;
    background-color: #00E396;

}

.ind {
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25px;
}

.one--1 {
    padding-top: 60px;
    padding-left: 60px;
    background-color: #191818;
}

.d-flex {
    display: flex;
}

.align-item {
    align-items: center;
}

.justify-contant {
    justify-content: center;
}

.pt-60 {
    /* padding-top: 60px; */
}

.orange {
    background-color: #F06500;
}

.blue {
    background-color: #8B35E2;
}

.sky {
    background-color: #00B2FF;
}

.yellow {
    background-color: #FFA800;
}

.pink {
    background-color: #FF4560;
}

.mb-15 {
    padding-bottom: 15px;
}

.gap-16 {
    gap: 16px;
}

.f-diraction {
    flex-direction: column;

}

.w-100 {
    width: 100%;
}

.l-img {
    margin-top: 60px;
}

.table-heading {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.data-1 {
    color: #B8B8B8;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

.all-table tr td {
    padding: 20px;
    background-color: #191818;

}

.heading-color {
    background-color: #0C0B0B;

}

.bg-gray {
    background-color: #191818;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.border-sec {
    border: 1px solid #454545;
    max-width: 1318px;
    border-radius: 10px;
}

.pt-80 {
    padding-top: 80px;
}

.all-tab {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    background-color: #181717;
}

.all-table {
    width: 1140px;
    width: 100%;
}

.color-box {
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #00E396;
}

.cardss {
    width: 100%;
    padding: 25px;
    border-radius: 10px;
    border: 1px solid #4D4C4C;
    background-color: #1C1B1B;
}

.cardss:hover {
    border-color: #F06500;
}

.pt-100 {
    padding-top: 100px;
}

.black-card {
    background-color: var(--color-zblack);
    width: 100%;
    border-radius: 46px;
    padding: 10px !important;
}

.pl-20 {
    padding-left: 20px;
}

.mb-90 {
    margin-bottom: 90px;
}

.img-overflow {
    width: 50%;
    position: absolute;
    right: 0%;
}

.cras-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 600;
    line-height: 33px;
    color: var(--color-white);
}

.amet-text {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 32.4px;
    color: var(#B6B6B6);
}

.one {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-3xl);
    font-weight: 600;
    line-height: 33px;
    text-align: center;
    color: var(--color-zblack);
}

.orange-number {
    background-color: var(--color-white);
    width: 71px;
    height: 71px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.black-card:hover .one {

    color: var(--color-white);
}

.black-card:hover .orange-number {
    background: linear-gradient(90deg, #FFA800 0%, #F06500 100%);
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

.section-title {
    margin-bottom: 60px;
}

.section-title p {
    color: #777;
    font-size: 16px;
}

.section-title h4 {
    text-transform: capitalize;
    font-size: 40px;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-weight: 600;
}

.section-title h4:before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    background-color: #ff3636;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
}

.section-title h4:after {
    position: absolute;
    background-color: #ff3636;
    content: "";
    width: 10px;
    height: 10px;
    bottom: -4px;
    left: 50%;
    margin-left: -5px;
    border-radius: 50%;
}

ul.timeline-list {
    position: relative;
    margin: 0;
    padding: 0
}

ul.timeline-list:before {
    position: absolute;
    content: "";
    width: 2px;
    height: 100%;
    background-color:  var(--color-white);
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

ul.timeline-list li {
    position: relative;
    clear: both;
    /* display: table; */
}

ul.timeline-list li .timeline_content {
    width: 45%;
    color: #333;
    padding: 30px;
    padding-top: 0;
    float: left;
    text-align: right;
}

ul.timeline-list li:nth-child(2n) .timeline_content {
    float: right;
    text-align: left;
}

.timeline_content h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0;
}

ul.timeline-list li:before {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    background: linear-gradient(180deg, #FFA800 0%, #F06500 100%);
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.timeline_content span {
    font-size: 18px;
    font-weight: 500;
    font-family: poppins;
    color: var(--color-white);
}
.max-width-1320{
    max-width: 1320px;
}

.phase-1 {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-5xl);
    font-weight: 600;
    line-height: 54px;
    text-align: right;
    color: var(--color-white);
}

.massa {
    font-family: "Poppins", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 400;
    line-height: 32.4px;
    text-align: right;
    color: var(--color-white);
    max-width: 547px;

}